*.~
*.aux
*.log
*.out
*.lof
*.toc
*.lot
*.glo
*._DS_Store
*.DS_Store
*.blg
*.synctex.gz
*.bbl
*.bak
*.db
*.bcf
*.run.xml
*.tex.orig
*.ist
*.upa
*.acn
*.acr
*.alg
*.mw
*.sya
*.syb
*.syc
*.glc
*.fdb_latexmk
*.fls
*.auxlock
main.pdf
Main.pdf
main.bbl-SAVE-ERROR
Thumbs.db
*.fdb_latexmk
*.fls
*.auxlock
main.pdf
Main.pdf
main.bbl-SAVE-ERROR
