*.~
*.aux
*.log
*.out
*.lof
*.toc
*.lot
*.glo
*._DS_Store
*.DS_Store
*.blg
*.synctex.gz
*.bbl
*.bak
*.db
*.bcf
*.run.xml
*.tex.orig
*.ist
*.upa
*.acn
*.acr
*.alg
*.mw
*.sya
*.syb
*.syc
*.glc
Thumbs.db
